<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/AboutUs.css">
<link rel="stylesheet" href="/css/EbSearchBar.css">
<body>
    <%- include('../includes/navigation-bar.ejs') %>
   <main>
    <div class="container">
        <div class="frame"></div>
        <div class="frame"></div>
        <div class="frame"></div>
         <div class="frame"></div>
        <div class="frame"></div>
        <div class="frame"><img id="ccfd" src="/images/Aiche2.gif"></div>
            <div class="box">
                <div class="left">
                    <img id="lll" src="/images/Aiche.gif">
                </div>
                <div class="right">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias veniam minus dolorem harum repudiandae quia? Vitae dolorem repudiandae in. Laboriosam sequi laudantium cumque nulla totam beatae, enim ratione omnis commodi, recusandae voluptatibus distinctio sunt error at, maxime fugiat ipsum. Magnam, quia nam animi aliquam veritatis culpa officia enim minus non soluta, odio vero sit unde. Nihil est consequatur excepturi molestias possimus. Omnis quia pariatur delectus consectetur facere officiis sapiente adipisci, ducimus veritatis? Amet eos tempora tenetur alias eaque autem nam voluptates quidem incidunt? Qui nam animi, nemo, libero iure dignissimos id dolores odio aut officia odit, illo eos esse! Aspernatur!</p>
                </div>
                <div class="phone"><p class="oo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed eum quasi dolore exercitationem, molestiae praesentium autem aliquam quo qui possimus quidem nulla eius labore natus quam ab doloribus, numquam nobis dicta! Quas delectus unde officiis. Unde iusto repellendus maxime a aliquam adipisci totam consequatur, velit, accusamus fugit dolores odio voluptas nulla recusandae et vel obcaecati error, vero inventore repudiandae. Nulla, quidem quis. Rerum sequi at cumque tenetur id sed minus recusandae magni cupiditate ea aliquam temporibus consequuntur facilis quo debitis magnam beatae repudiandae sapiente maiores dolore aperiam, quis dolor molestias! Necessitatibus facere aspernatur fuga veritatis consectetur nobis laudantium laboriosam consequuntur.</p></div>
            </div>
   </main> 
    <%- include('../includes/nwHead.ejs') %>