<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/Home.css">
</head>

<body>
   <%- include('../includes/navigation-bar.ejs') %>

    <main>
        <div class="mainBd">
            <div class="centt">
                
            </div>
            <div id="preload">
                <div class="cent">
                    <img id="imgLoad" src="https://www.linkpicture.com/q/AICHE-logos_transparent.png">
                </div>
            </div>
        </div>
        <div class="displayNa">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Yf5d_Zx3AaI?si=fhg2JRLkwg246yRC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/Yf5d_Zx3AaI?si=fhg2JRLkwg246yRC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <section>
            <div class="button">
                <div class="cc" id="c1">
                    <a href="#" class="dkd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Events
                    </a>
                </div> 
                <div class="cc" >
                    <a href="/admin/Events" id="ablock" class="dkd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Events
                    </a>
                </div>
                <!-- <div class="box2">
                    <div class="wrapper">
                        <div class="cracked">
                            <span>Aiche</span>
                            <span>Aiche</span>
                            <span>Aiche</span>
                       </div>
                    </div>
                    <div class="wrapper2">
                        <div class="cracked2">
                            <span>NitR</span>
                            <span>NitR</span>
                            <span>NitR</span>
                       </div>
                    </div>
                </div> -->
                <div class="bb"><h1 data-text="Aiche Nit-R"><span>Aiche Nit-R</span></h1></div>
            </div>
        </section>
    </main>
<%- include('../includes/nwHead.ejs') %>