<nav>
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen' ></i>
        <span class="logo navLogo"><a href="/">Aiche</a></span>
        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a  href="/">Aiche</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/admin/AboutUs">About</a></li>
                <li><a href="/admin/Ebs">EBs</a></li>
                <li><a href="/admin/Blog">Blogs</a></li>
                <li><a href="/admin/Ach">Achievements</a></li>
                <li><a href="/admin/ContactUs">Contacts</a></li>
            </ul>
        </div>
        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>
            <div class="searchBox">
               <div class="searchToggle">
                <i class='bx bx-x cancel'></i>
                <i class='bx bx-search search'></i>
               </div>
                <div class="search-field">
                    <form action="#">
                        <input type="text"
                               placeholder=" Search "
                               name="search">
                        <button>
                            <!-- <i class="fa fa-search"
                               style="font-size: 18px;">
                            </i> -->
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>


