<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/formNew.css">
<body>
    <%- include('../includes/navigation-bar.ejs') %>
        <body class="page">
            <main class="main page__main">
              <form class="login-form main__login-form" action="/admin/addPicToCEC" method="POST">
                <h3 class="login-form__title">Add to CEC</h3>
                <label for="title">Title</label>
                    <input type="text" name="title" id="title" >
                    <label for="imageUrl">Image URL</label>
                    <input type="text" name="imageUrl" id="imageUrl" >
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" minlength="8">
                    <br>
                    <br>
                <button class="primary-btn" type="submit">Add Image To CEC</button>
              </form>
            </main>
          </body>
    </main>

    <%- include('../includes/nwHead.ejs') %>