<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/credit.css">
<body>
    <br>
 <div class="homePg">
            <div class="Project">
               <img src="https://45.media.tumblr.com/263e52c5f30e213c099a62a245242289/tumblr_n8bsno0htg1qmzbpoo1_1280.gif" alt="" class="imgMasked" />
              <div class="Project-hail"></div>
              <div class="Project-hail2"></div>
              <p class="Project-name">Akhil </p>
            </div>
          </div> 

        <div id="drag-container">
            <div id="spin-container">
              <img src="/images/1.jpg" alt="">
              <img src="/images/7.jpg" alt="">
              <img src="/images/2.jpg" alt="">
              <img src="/images/3.jpg" alt="">
              <img src="/images/4.jpg" alt="">
              <img src="/images/5.jpg" alt="">
              <img src="/images/6.jpg" alt="">
              <p>Akhil Seth</p>
            </div>
            <div id="ground"></div>
    </div>
    <script src="/js/credit.js"></script>
    <%- include('../includes/nwHead.ejs') %>